*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
.scrollable_element{
    width: 100%;
    height: 100vh;
    border:1px solid #ccc;
    overflow-x: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f3f5f6;
}
#flickr-base{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 141px 1fr;
}
.top-container{
    display: grid;
    grid-template-rows: 50px 91px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:6;
}
header{
    background-color: rgb(31, 31, 31);   
}
.head-container{
    width: 80%;
    height:100%;
    margin: 0 auto;
    display:flex;
}
.menu-icon_mobile{
    display: none;
}
#logo{
        width:6.8%;
        height: 100%;
        display: flex;  
        position: relative;      
}
#logo:hover{
    cursor:pointer;
    opacity: 0.8;
}
.blue{
    background-image: url(spriteimage.png);
    background-position: -151px -99px; 
    width: 41px;
    height: 44px;
    transform:scale(.25);
    position:absolute;
    left:-15px;
    align-self: center;
    color:rgb(117, 114, 114);
}
.pink{
    background-image: url(spriteimage.png);
    background-position: -196px -99px; 
    width: 43px;
    height: 41px;
    transform:scale(.24);
    position:absolute;
    left:-5px;
    align-self: center;
    color:rgb(117, 114, 114);
}

.text{
    background-image: url(spriteimage.png);
    background-position: 0px -231px; 
    width: 153px;
    height: 51px;
    position:absolute;
    left:-12px;
    align-self: center;
    transform:scale(0.46);
}
#menu_list{
    width:43.2%;
    height: 100%;
    display: flex;
    gap:16px;
    align-items: stretch;
    text-indent: 25px;
    font-size: 11pt;
}
#menu_list .list{
    display: inline-flex;
    align-items: center;
    color:white;    
}
#menu_list .you{
    padding-left: 10px;
}
#menu_list .list:hover {
    cursor: pointer;
    color:rgb(156, 153, 153);
}
.sub-menu ul{
    list-style: none;
    display: none;
}
.disabled{
    pointer-events: none;
    color:grey;
}
#menu_list .list:hover .sub-menu ul{
    display: block;
    position:absolute; 
    margin-top: 16px;
    margin-left: -50px;
    background-color: white;
    z-index: 10;
    padding:10px;
    color:black;
    box-shadow: 0px 0px 2px 2px grey;
}
#menu_list .list:hover .sub-menu ul li:hover{
    background-color: rgba(128, 128, 128, 0.618);

}
.sub-menu ul::before{
    content:'';
    width: 15px;
    height: 15px;
    background-color: rgb(114, 22, 22);
    z-index: 11;
    position: relative;
    top:21px;
    left:21em;
    transform: rotate(45deg);
}
#search{
    display:flex;
    width: 38%;
    align-items: center;
    justify-content: flex-end;
}
#search-icon{
    background-color: transparent;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-image: url(spriteimage.png);
    background-position: -312px -192px; 
    width: 22px;
    height: 19px;
    opacity:0.6;
    cursor: pointer;
    transform: scale(1);
    place-self: center;
    position:relative;
    left:5%;
}
#search-box{
    width:220px;
    height:33px;
    background-color:white;
    color:black;
    border:none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 2px;
    text-indent: 10px;
    padding-left:40px;
    
}
#search-icon:focus~#search-box{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
#search-box:focus{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
#srch-close-icon{
    visibility: hidden;
   
}
#profile{
    display: flex;
    width: 11%;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    position: relative;
    left:18px;
}
.upload_icon:hover, .notify_icon:hover, .profile_icon:hover{
    cursor:pointer;
    opacity: .7;
}
.upload_icon{
    background-image: url(spriteimage.png);
    background-position: -411px -447px; 
    width: 31px;
    height: 23px;
}
.upload_icon .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: -2%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);

}
.upload_icon:hover .tooltiptext {
    visibility: visible;
    opacity:1
  }
  .upload_icon:hover .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width:10px;
    height: 10px;
    background:white;
    transform: rotate(45deg); 
    border-top:1px solid rgba(188, 187, 187, 0.463);
    border-left:1px solid rgba(188, 187, 187, 0.463);
    z-index: 1;
}
.notify_icon{
    background-image: url(spriteimage.png);
    background-position: -492px -419px; 
    width: 26px;
    height: 25px;  
}
.profile_icon{
    background-image: url(buddyicon01.png);
    transform: scale(0.68);
    border-radius: 100%; 
}
nav{
    display: grid;
    grid-template-rows: 50px 41px;
    background-color: white;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
}
.nav-container{
    width: 80%;
    height:100%;
    margin: 0 auto;
    border-bottom: 1px solid hsl(0, 0%, 54%, .3);
    background-color: rgb(255, 255, 255);
}
.nav-container ul{
    display:inline-flex;
    list-style: none;
    align-items: center;
    width:300px;
    height:50px;
    column-gap: 5%; 
    opacity: 0.7; 
}
.nav-container ul li{
    width:30%;
    height:50px;
    font-size: 12pt;
    padding-top: 12px;
    padding-left: 20px;
    opacity: 0.8;
}
.active, .nav-container ul li:hover{
    text-decoration: none;
    border-bottom: 3px solid #0091dc;
    opacity: 1;
}
.sub-nav-container{
    display: flex;
    width: 80%;
    height:100%;
    margin: 0 auto;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    background-color: rgb(255, 255, 255);  
    align-items: center;
    position: relative;
}
#color{
    display:inline-flex;
    gap:4px;
    width: 58.9%;
    height: 20px;
    justify-content: flex-end;
    position: relative;
    
}
.color, .patn{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor:pointer;
}
.item1{
    background-color: red;
    border:1px solid red;
}
.item2{
    background-color: #a24615;
    border:1px solid #a24615;
}
.item3{
    background-color: #ff7c00;
    border:1px solid #ff7c00;
}
.item4{
    background-color: #ff9f9c;
    border:1px solid #ff9f9c;
}
.item5{
    background-color: #fffa00;
    border:1px solid #fffa00;
}
.item6{
    background-color: #ffcf00;
    border:1px solid #ffcf00;
}
.item7{
    background-color: #90e200;
    border:1px solid #90e200;
}
.item8{
    background-color: #00ab00;
    border:1px solid #00ab00;
}
.item9{
    background-color: #00b2d4;
    border:1px solid #00b2d4;
}
.item10{
    background-color: #0062c6;
    border:1px solid #0062c6;
}
.item11{
    background-color: #8c20ba;
    border:1px solid #8c20ba;
}
.item12{
    background-color: #f52394;
    border:1px solid #f52394;
}
.item13{
    background-color: white;
    border:1px solid grey;
}
.item14{
    background-color: grey;
    border:1px solid grey;
}
.item15{
    background-color: black;
    border:1px solid black;
}
.color .tooltiptext, .patn .tooltiptext{
    visibility: hidden;
    background-color: white;
    color:grey;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 140%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.color:hover .tooltiptext, .patn:hover .tooltiptext{
    visibility: visible;
    opacity:1 
}
.color .tooltiptext::before, .patn .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width:10px;
    height: 10px;
    background:white;
    transform: rotate(45deg); 
    border-top:1px solid rgba(188, 187, 187, 0.463);
    border-left:1px solid rgba(188, 187, 187, 0.463);
    z-index: 1;
}
#pattern{
    display:flex;
    gap:3px;
    align-items: center;
    width: 25%;
    height: 20px;
    margin-left:2.6%;
    position: relative;
}
.item16{
    background-image: url(spriteimage.png);
    background-position: -381px -447px; 
    width: 33px;
    height: 21px; 
}
.item17{
    background-image: url(spriteimage.png);
    background-position: -282px -448px; 
    width: 33px;
    height: 20px; 
}
.item18{
    background-image: url(spriteimage.png);
    background-position: -314px -448px; 
    width: 33px;
    height: 21px;  
}
.item19{
    background-image: url(spriteimage.png);
    background-position: -347px -448px; 
    width: 33px;
    height: 21px;
}
#adv_setting{
    display: flex;
    justify-content: right;
    align-items: center;
    color:rgba(122, 120, 120, 0.797);
    font-size: 14px;
    width: 19.5%;
    gap:10px;
}
.advance:hover{
    cursor: pointer;
}
.advance .tooltiptext{
    visibility:hidden;
    width:120px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.advanced:hover .tooltiptext, .setting:hover .advanced .tooltiptext{
    visibility: visible;
    opacity:1;

}
.setting{
    background-image: url(spriteimage.png);
    background-position: -405px -316px; 
    width: 21px;
    height: 19px;
}
  .setting:hover{
    cursor:pointer;
  }
.bottom-container{
    width: 100%;
    height: 160rem;
    position:relative;
    top: 141px;
    z-index: 5;
    }
main{
    display:flex;
    width: 80%;
    margin: 0 auto;
    gap: 40px;     
}
main .left-content{
    width: 77%;
    height: 100%;
 
  }
  .tool_head{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color:#6e7071;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}
.tool:hover{
    cursor: pointer;
}
.left_tool{
    width: 50%;
    display: flex;
    gap:30px;
}

.left_tool1 {
    display: flex;
    gap:5px;
}
.dropdown_icon{
    width: 15px;
    background-image: url(spriteimage.png);
    background-position: -526px -106px; 
    width: 11px;
    height: 7px;
    place-self: center;
}

.left_tool2 {
    display: flex;
    gap:5px;
}
.srch_fil{
    visibility: hidden;
}
.right_tool{
    display: flex;
    width: 50%;
    align-items: center;
    gap:30px;
    justify-content: right;

}
.right_tool1{
    display: flex;
    gap:10px;
    align-items: center;

}
.share_icon{
    background-image: url(spriteimage.png);
    background-position: -496px -442px; 
    width: 24px;
    height: 21px;
    transform: scale(.8);
}

.right_tool2{
    display: flex;
    align-items: center;
    gap:5px;
    
}
.right_tool3{
    display: flex;
    gap:15px;
    position: relative;
    cursor: pointer;
    
}
.icon1{
    background-image: url(spriteimage.png);
    background-position: -255px -511px; 
    width: 17px;
    height: 17px;
    opacity: .8;
}
.icon1:hover, .icon3:hover{
    opacity: 1;
   
}
.icon2{
    background-image: url(spriteimage.png);
    background-position: -188px -475px; 
    width: 20px;
    height: 18px;
}
.icon3{
    background-image: url(spriteimage.png);
    background-position: -264px -475px; 
    width: 19px;
    height: 19px;
    opacity: .8;
}

.view .tooltiptext{
    visibility: hidden;
    width: 100px;
    background-color: black;
    color:white;
    text-align: center;
    font-size:12px;
    border-radius: 3px;
    padding:2px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.view:hover .tooltiptext {
    visibility: visible;
    opacity:1;
  }
.img1-head{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.right-head{
    color:#006dac;
}
.right-head:hover{
    cursor: pointer;
    text-decoration: underline;
}
.img1-con{
    width:100%;
    max-height:120px;
}
.img1-list{
    display:flex;
    width:100%;
    height: 120px;
    column-gap: 5px;
}
.img1-list:hover{
    cursor: pointer;
}
.img1-list .isphoto img{
    width:100%;
    height: 100%;
}
.isphoto{
    width:100%;
    height: 100%;
}
.seven{
    position: relative;
}
.seven .text-wrapper{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(2, 2, 2, 0.3);   
    color:white;
    font-weight: lighter;
    cursor:pointer;
}
.seven .text-wrapper h3{
  text-align: center; 
  padding-top:30%;  
}
.img1-foot{
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006dac;
    cursor: pointer;
}
.img2-head{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img2-head .left-head span{
    background-color: orange;
    color: white;
    border-radius: 3px;
}
.img2-con{
    width: 100%;
    height:200px;
}
.img2-con .img2-list{
    display: flex;
    width:100%;
    height: 200px;
    gap:5px;
}
.img2-list .img-item img{
    
    min-width: 20%;
    width: 100%;
    height: 100%;
}
.img2-list .img-item{
    position: relative;
}
.img2-list .img-item .text-wrapper{
    opacity:0;
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    right:0; 
    display:flex;
    padding-bottom: 5px;
    padding-right: 5px;
    justify-content: space-between;
    transition: opacity .2s linear;
    z-index: 1;
}
.img2-list .img-item .text-wrapper:hover{
    opacity: 1;
    cursor: pointer;
}
.in_tool-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color:white;
}
.sub-title{
    color:rgb(171, 168, 168);
}
.sub-title:hover{
    cursor:pointer;
    color:white;
}
.in_tool-2{
    display: flex;
    color:white;
    align-items: flex-end;
    gap:5px;
}
.star{
    background-image: url(spriteimage.png);
    background-position: -316px -253px; 
    width: 21px;
    height: 19px;
}
.comment{
    background-image: url(spriteimage.png);
    background-position: -317px -494px; 
    width: 17px;
    height: 18px;
}
.plus_box{
    background-image: url(spriteimage.png);
    background-position: -411px -181px; 
    width: 25px;
    height: 16px;
}
.img3-head{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.img3-con{
    width: 100%;
    height:200px;
}
.img3-con .img3-list{
    display: flex;
    width:100%;
    height: 200px;
    gap:5px;
}
.img3-list .img-item img{
    width: 100%;
    height: 100%;
}
.img3-list .img-item{
    width:30%;
    position: relative;
}
.img3-list .img-item .img3_text_wrapper{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:0;
    right:0; 
    color:white;
    gap:5px;
}
.img3_text_wrapper h6{
    font-size: 8px;
}
.img3-list .img-item .text-wrapper{
    opacity:0;
    width:100%;
    height: 100%;
    position:absolute;
    top: 0;
    right:0; 
    display:flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-right: 5px;
    transition: opacity .2s linear;
    z-index: 1;
}
.img3-list .img-item .text-wrapper:hover{
    opacity: 1;
    cursor: pointer;
}
.in_tool-1{
    display: flex;
    flex-direction: column;
    color:white;
}
.sub-title{
    color:rgb(171, 168, 168);
}
.sub-title:hover{
    cursor:pointer;
    color:white;
}
.in_tool-2{
    display: flex;
    color:white;
    align-items: right;
    gap:5px;
    position: relative;
    right: 0;
}
.star{
    background-image: url(spriteimage.png);
    background-position: -316px -253px; 
    width: 21px;
    height: 19px;
}
.comment{
    background-image: url(spriteimage.png);
    background-position: -317px -494px; 
    width: 17px;
    height: 18px;
}
.plus_box{
    background-image: url(spriteimage.png);
    background-position: -411px -181px; 
    width: 25px;
    height: 16px;
    
}
.in_tool-3{
    padding-top: 10px;
    padding-right: 5px;
    justify-content: flex-end;
    align-items: flex-start;
}
.more{
    background-image: url(spriteimage.png);
    background-position: -501px -6px; 
    width: 20px;
    height: 6px;
}
.img4-head{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
.img4-con{
    width: 100%; 
    height: 105rem;  
}
.img4-con .img4-list{
    display:flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    gap:5px;
}
.img4-con .img4-list img{
    min-width: 20%;
    height: 200px;
    flex-grow:1;
    object-fit:cover;
    position: relative;
}
.img4-foot{
    width:100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006dac;
    cursor: pointer;
    text-decoration: underline;
}
main .right-content{
    width:23%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    position:sticky;
    top: -5px;
    z-index: 2;

}
  .rel-search{
    display:block;
    padding-top:20px;
    padding-left: 2px;
    padding-bottom: 20px;
   
  }
   aside .sidebar1{
    background-color: white;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-bottom:20px;
  }
  .tag-list ul li{
    background-color: rgb(210, 209, 209);
    border:none;
    border-radius:5px;
    float:left;
    margin: 0 5px 5px 0;
    max-width: 96%;
    padding:5px;
    position: relative;
    transition: all .15s ease-in-out;
    list-style: none;
  }
  .tag-list ul li:hover{
    cursor: pointer;
    background-color:  #868d91;;
    color:white;
  }
  aside .sidebar2{
    background-color: white;
    width:100% ;
    padding:30px;
  }
  .sidebar2_head1{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .group-result{
    display: flex;
    margin-bottom: 20px;
  }
  .group-name{

    align-self:center;
    font-family: sans-serif;
    font-size: 12px;
  }
  .group-name:hover{
    cursor: pointer;
    text-decoration: underline;

  }
  .profile1{
    width:35px;
    height: 35px;
    border: 1px solid grey;
    padding: 3px;
    border-radius:100%;
  }
  input{
    color:#128fdc;
    border:2px solid #128fdc;
    background-color: transparent;
  }
  input:hover{
    background-color: #128fdc;
    color:white;
    cursor: pointer;
  }
  .join-image{
    width: 100%;
    height: 50px;
    
  }
  .join-image .jimg-set{
    display: flex;
    width: 100%;
    height: 100%;
    gap:2px;
  }
  .join-image .jimg-set img{
    min-width: 20%;
  }
  .join{
    font-size: 20px;
    height: 25px;
    width: 50px;
    align-self:center;
  }
  .sidebar2_head2{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    margin-top:20px;
  }
  .profile2{
    width:35px;
    height: 35px;
    border: 1px solid grey;
    padding: 3px;
    border-radius:100%;
  }
  .profile1:hover, .profile2:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .sidebar3{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    min-height:50px;
    background-color: white;
    font-size: 12px;
    color:rgb(167, 162, 162);
    box-sizing: border-box;
    padding:30px;
    column-gap: 5px;
    row-gap: 10px;
    margin-top: 10%;
  }
  .web:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .tag11{
    display: flex;
    
  }
.lang-img{
    place-self: center;
    background-image: url(spriteimage.png);
    background-position: -540px -482px; 
    width: 17px;
    height: 11px;
    transform:scale(0.7)
}
@media(max-width:600px){
    #flickr-base{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 100px 1fr;
    }
    #menu_list, .upload_icon, nav .sub-nav-container, .img1-head, .img1-con, .img1-foot, .sys_viewtool, .left_tool1, .left_tool2{
        display: none;
    }
    nav{
        height: 50px;
        border: none;
        background-color: #f3f5f6;
    }
    .nav-container{
        width: 100%;
        height: 50px;
    }
    .head-container{
        width: 100%;
        height: 50px;
        display: flex;
        position: relative;
        align-items: center;
    }
    #menu-icon_mobile{
        width: 8%;
        background-color: #3ed63e;
    }
    .head-container #menu-icon_mobile .menu-icon{
        width: 18px;
        height: 3px;
        background-color:white;
        position:absolute;
        cursor: pointer;
        left:20px;
    }
    .menu-icon::before{
        content:"";
        width:18px;
        height: 3px;
        background-color: white;
        position: absolute;
        top: -6px;}
        .menu-icon::after{
            content:"";
            width:18px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 6px;
        }
        #logo{
            width: 10%;
            position: absolute;
            left:10%;
        }
.bottom-container{
    width: 100%;
    position: relative;
    top: 100px;
    
}
main{
    width: 100%;
    padding:10px;
    padding-right: 10px;
}
.srch_fil{
    visibility: visible;
    color:#006dac;
    font-size: 11pt;
   
}
.img2-head, .img3-head, .img4-head{
    padding-right:32%;
    }
    #search{
        display:flex;
        width: 95%;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: absolute;
        right: -3px;
        
    }
    #search-icon{
        background-color:rgb(11, 11, 11);
        border:none;
        outline: none;
        box-sizing: border-box;
        background-image: url(spriteimage.png);
        background-position: -469px -306px; 
        width: 24px;
        height: 22px;
        cursor: pointer;
        transform: scale(1);
        position: relative;
        left:30px;   
        z-index: 1;
        }
    
    #search-box{
        width: 5%;
        height:33px;
        background-color:transparent;
        color:black;
        border:none;
        outline: none;
        box-sizing: border-box;
        font-size: 13px;
        border-radius: 2px;
        text-indent: 10px;
        padding-left:40px;
        z-index: 0;
        
    }
    #search-box:focus{
        display: none;
    }
    #search-icon:focus~#search-box{
        
        width:430px;
        outline:none; 
        background-color: rgb(16, 15, 15);
        transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
      
    }
    #search-icon:focus~#srch-close-icon{
        visibility: visible;
    }
    #srch-close-icon{
        background-image: url(spriteimage.png);
        background-position: -541px -365px; 
        width: 14px;
        height: 15px;
        transform: scale(1.5);
        width: 15px;
        height: 15px;
        position: relative;
        background-color: #0e100e6b;
        right: 5%;
        z-index: 1;
        border: none;
        cursor: pointer;
        }
    .right_tool{
        position: relative;
        right: 32%;
    }
#profile{
    width: 100px;
    position: absolute;
    left:75%;
}
}