*{
  margin:0;
  padding:0;  
}
.container{
        width: 50vw;
        height:100vh;
        position:relative;
        left:25vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1fr 0.2fr;
        gap:10px;
        
}
.lay{
    width:100%;
    height:100%;
}
.ch{
    border:1px solid white;
    background-color: black;
}
.layout1{
    grid-column: 1/2;
    grid-row:1/2;
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows:1fr 1fr;
    
}
.child1{
    grid-column:1/2;
    grid-row:1/3;
}
.child2{
    grid-column:2/3;
    grid-row:1/2;
}
.child3{
    grid-column:2/3;
    grid-row:2/3;
}
.content1{
    grid-column:1/2;
    grid-row:2/3;
    place-self:center;

}
.layout2{
    grid-column: 2/3;
    grid-row:1/2;
    display:grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows:1fr 1fr;
    
}
.child4{
    grid-column:1/2;
    grid-row:1/2;
}
.child5{
    grid-column:1/2;
    grid-row:2/3;
}
.child6{
    grid-column:2/3;
    grid-row:1/3;
}
.content2{
    grid-column:2/3;
    grid-row:2/3;
    place-self:center;

}
.layout3{
    grid-column: 3/4;
    grid-row:1/2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:3fr 5fr;
    
}
.child7{
    grid-column:1/2;
    grid-row:1/2;
}
.child8{
    grid-column:2/3;
    grid-row:1/2;
}
.child9{
    grid-column:1/3;
    grid-row:2/3;
}
.content3{
    grid-column:3/4;
    grid-row:2/3;
    place-self:center;
}
.layout4{
    height:50%;
    position:relative;
    top:25%;
    grid-column: 4/5;
    grid-row:1/2;
    display:grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows:1fr; 
}
.child10{
    grid-column:1/2;
   
}
.child11{
    grid-column:2/3;
    
}
.content4{
    grid-column:4/5;
    grid-row:2/3;
    place-self:center;

}
.layout5{
    height:50%;
    position:relative;
    top:25%;
    grid-column: 1/2;
    grid-row:3/4;
    display:grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows:1fr; 
}
.child12{
    grid-column:1/2;
    
}
.child13{
    grid-column:2/3;
    
}
.content5{
    grid-column:1/2;
    grid-row:4/5;
    place-self:center;

}
.layout6{
    grid-column: 2/3;
    grid-row:3/4;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr; 
}
.child14{
    grid-column:1/3;
    grid-row:1/2;
}
.child15{
    grid-column:3/4;
    grid-row:1/2;
}
.child16{
    grid-column:1/2;
    grid-row:2/3;
}
.child17{
    grid-column:2/4;
    grid-row:2/3;
}
.content6{
    grid-column:2/3;
    grid-row:4/5;
    place-self:center;

}
.layout7{
    height:80%;
    position: relative;
    top:10%;
    grid-column: 3/4;
    grid-row:3/4;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr; 
}
.child18{
    grid-column:1/2;
    grid-row:1/2;
}
.child19{
    grid-column:1/2;
    grid-row:2/3;
}
.child20{
    grid-column:2/3;
    grid-row:1/3;
}
.content7{
    grid-column:3/4;
    grid-row:4/5;
    place-self:center;

}
.layout8{
    height:90%;
    position: relative;
    top:5%;
    grid-column: 4/5;
    grid-row:3/4;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr; 
}
.child21{
    grid-column:1/2;
    grid-row:1/4;
}
.child22{
    grid-column:2/4;
    grid-row:1/2;
}
.child23{
    grid-column:2/4;
    grid-row:2/3;
}
.child24{
    grid-column:2/3;
    grid-row:3/4;
}
.child25{
    grid-column:3/4;
    grid-row:3/4;
}
.content8{
    grid-column:4/5;
    grid-row:4/5;
    place-self:center;

}
.layout9{
    grid-column: 1/2;
    grid-row:5/6;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr; 
}
.child26{
    grid-column:1/2;
    grid-row:1/5;
}
.child27{
    grid-column:2/3;
    grid-row:1/2;
}
.child28{
    grid-column:2/3;
    grid-row:2/3;
}
.child29{
    grid-column:2/3;
    grid-row:3/4;
}
.child30{
    grid-column:2/3;
    grid-row:4/5;
}
.content9{
    grid-column:1/2;
    grid-row:6/7;
    place-self:center;
}
.layout10{
    height:80%;
    position: relative;
    top:10%;
    grid-column: 2/3;
    grid-row:5/6;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.child31{
    grid-column:1/2;
}
.child32{
    grid-column:2/3;  
}
.content10{
    grid-column:2/3;
    grid-row:6/7;
    place-self:center;
}
.layout11{
    height:70%;
    position: relative;
    top:15%;
    grid-column: 3/4;
    grid-row:5/6;
    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows:1fr 1fr; 
}
.child33{
    grid-column:1/2;
    grid-row:1/3;
}
.child34{
    grid-column:2/3;
    grid-row:1/2;
}
.child35{
    grid-column:3/4;
    grid-row:1/2;
}
.child36{
    grid-column:2/3;
    grid-row:2/3;
}
.child37{
    grid-column:3/4;
    grid-row:2/3;
}
.content11{
    grid-column:3/4;
    grid-row:6/7;
    place-self:center;
}
.layout12{
    height:100%;
    position: relative;
    top:25%;
    grid-column: 4/5;
    grid-row:5/6;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
   
}
.child38{
    grid-column:1/2;
}
.child39{
    grid-column:2/3;  
}
.child40{
    grid-column:3/4;  
}
.content12{
    grid-column:4/5;
    grid-row:6/7;
    place-self:center;
}
.layout13{
    width:80%;
    position: relative;
    left:10%;
    grid-column: 1/2;
    grid-row:7/8;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.child41{
    grid-column:1/2;
    grid-row:1/2;
}
.child42{
    grid-column:2/3;
    grid-row:1/2;
}
.child43{
    grid-column:1/2;
    grid-row:2/3;
}
.child44{
    grid-column:2/3;
    grid-row:2/3;
}
.content13{
    grid-column:1/2;
    grid-row:8/9;
    place-self:center;
}
.layout14{
    position:relative;
    top:25%;
    grid-column: 2/3;
    grid-row:7/8;
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.child45{
    grid-column:1/2;
}
.child46{
    grid-column:2/3; 
}
.content14{
    grid-column:2/3;
    grid-row:8/9;
    place-self:center;
}
.layout15{
    height:150%;
    position:relative;
    top: 30%;
    grid-column: 3/4;
    grid-row:7/8;
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.child47{
    grid-column:1/2;
}
.child48{
    grid-column:2/3;
}
.child49{
    grid-column:3/4;
}
.content15{
    grid-column:3/4;
    grid-row:8/9;
    place-self:center;
}
.layout16{
    grid-column: 4/5;
    grid-row:7/8;
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
}
.child50{
    grid-row:1/2;
}
.child51{
    grid-row:2/3;
}
.child52{
    grid-row:3/4;
}
.content16{
    grid-column:4/5;
    grid-row:8/9;
    place-self:center;
}
.layout17{
    height:90%;
    position:relative;
    top:5%;
    grid-column: 1/2;
    grid-row:9/10;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.child53{
   grid-column:1/2;
}
.child54{
    grid-column:2/3;
}
.child55{
    grid-column:3/4;
}
.content17{
    grid-column:1/2;
    grid-row:10/11;
    place-self:center;
}
.layout18{
    height:40%;
    position: relative;
    top:30%;
    grid-column: 2/3;
    grid-row:9/10;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.child56{
    grid-column:1/2;
}
.child57{
    grid-column:2/3;
}
.child58{
    grid-column:3/4;
}
.child59{
    grid-column:4/5;
}
.content18{
    grid-column:2/3;
    grid-row:10/11;
    place-self:center;
}
.layout19{
    height:60%;
    position: relative;
    top:20%;
    grid-column: 3/4;
    grid-row:9/10;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.child60{
    grid-column:1/2;
}
.child61{
    grid-column:2/3;
}
.child62{
    grid-column:3/4;
}
.child63{
    grid-column:4/5;
}
.child64{
    grid-column:5/6;
}
.content19{
    grid-column:3/4;
    grid-row:10/11;
    place-self:center;
}
.layout20{
    height:80%;
    position: relative;
    top:10%;
    grid-column: 4/5;
    grid-row:9/10;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.child65{
    grid-column:1/2;
    grid-row:1/2
}
.child66{
    grid-column:2/3;
    grid-row:1/3
}
.child67{
    grid-column:3/4;
    grid-row:1/2;
}
.child68{
    grid-column:1/2;
    grid-row:2/3
}
.child69{
    grid-column:3/4;
    grid-row:2/3
}
.content20{
    grid-column:4/5;
    grid-row:10/11;
    place-self:center;
}

