*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #f3f5f6;
    
}
#flickr-base{
    width: 100vw;
    height: 100vh;
    background-color: #f3f5f6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 141px 1fr;
}
header{
   
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 91px;
}
.head_container{
    background-color: black;
}
.head_menu{
    width: 80%;
    height: 100%;
    margin:0 auto;
    display: flex;
}
#logo{
    width: 6.8%;
    height: 100%;
    display: flex;
    position: relative;
}
#logo:hover{
    cursor:pointer;
    opacity: 0.8;
}
.blue{
    background-image: url(spriteimage.png);
    background-position: -151px -99px; 
    width: 41px;
    height: 44px;
    transform:scale(.25);
    position:absolute;
    left:-15px;
    align-self: center;
    color:rgb(117, 114, 114);
}
.pink{
    background-image: url(spriteimage.png);
    background-position: -196px -99px; 
    width: 43px;
    height: 41px;
    transform:scale(.24);
    position:absolute;
    left:-5px;
    align-self: center;
    color:rgb(117, 114, 114);
}

.text{
    background-image: url(spriteimage.png);
    background-position: 0px -231px; 
    width: 153px;
    height: 51px;
    position:absolute;
    left:-12px;
    align-self: center;
    transform:scale(0.46);
}
#menu_list{
    width: 43.2%;
    height: 100%;
    display: flex;
    gap:16px;
    justify-content: stretch;
    align-items: center;
    text-indent: 25px;
    font-size: 11pt;    
    
}
#menu_list .list{
    display: inline-flex;
    align-items: center;
    color:white;
    
    
}
#menu_list .item1{
    padding-left: 10px;
}
#menu_list .list:hover{
    cursor: pointer;
    color:rgb(156, 153, 153);
}
#search{
    width: 39%;
    display: flex;
    justify-content: right;
    align-items: center;
}
button{
    position: relative;
    left:5%;
    border: none;
    outline:none;
    background-color: transparent;
}
#search_icon{
    background-color: transparent;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-image: url(spriteimage.png);
    background-position: -312px -192px; 
    width: 22px;
    height: 19px;
    opacity:0.6;
    cursor: pointer;
    transform: scale(1);
    place-self: center;
    position:relative;
    left:-5%;
}

#search_bar{
    width:220px;
    height:33px;
    background-color:rgba(255, 255, 255, 0.993);
    color:black;
    border:none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 2px;
    text-indent: 10px;
    padding-left:40px;
    
}
button:focus~#search_bar{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
#search_bar:focus{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
#profile{
    width: 11%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.upload_icon{
    background-image: url(spriteimage.png);
    background-position: -411px -447px; 
    width: 31px;
    height: 23px;
}
.notify_icon{
    background-image: url(spriteimage.png);
    background-position: -492px -419px; 
    width: 26px;
    height: 25px;  
}
.profile_pic_icon{
    width: 35px;
    height: 35px;
    background-image: url(profile.png);
    transform: scale(1);
    background-size: cover;
    border-radius: 100%;
}

.upload_icon:hover, .notify_icon:hover, .profile_pic_icon:hover{
    cursor: pointer;
    opacity: .7;
}
.nav_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 41px;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    background-color: rgb(255, 255, 255);

}
.nav_menu{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid hsl(0, 0%, 54%, .3);
    background-color: rgb(255, 255, 255);
}
.nav_menu ul{
    display:inline-flex;
    list-style: none;
    align-items: center;
    width:300px;
    height:50px;
    column-gap: 5%; 
    
}
.nav_menu ul li{
    width:30%;
    height:50px;
    font-size: 12pt;
    padding-top: 12px;
    padding-left: 20px;
    opacity: 0.8;
}
.active, .nav_menu ul li:hover{
    text-decoration: none;
    border-bottom: 3px solid #0091dc;
    opacity: 1;
    cursor: pointer;
}
.sub_menu{
    display: flex;
    width: 80%;
    margin:0 auto;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
    background-color: rgb(255, 255, 255);  
    align-items: center;
    position: relative;
}
.sub_menu #color_pallete{
    display:inline-flex;
    gap:4px;
    width: 58.9%;
    height: 20px;
    justify-content: flex-end;
    position: relative;
}
.item1{
    width: 20px;
    height:20px;
    background-color: red;
    border-radius: 3px;
    border:1px solid red;
    cursor:pointer;
}
.item2{
    width: 20px;
    height:20px;
    background-color: #a24615;
    border-radius: 3px;
    border:1px solid #a24615;
    cursor:pointer;
    
}
.item3{
    width: 20px;
    height:20px;
    background-color: #ff7c00;
    border-radius: 3px;
    border:1px solid #ff7c00;
    cursor:pointer;
    
}
.item4{
    width: 20px;
    height:20px;
    background-color: #ff9f9c;
    border:1px solid #ff9f9c;
    cursor:pointer;
}
.item5{
    width: 20px;
    height:20px;
    background-color: #fffa00;
    border-radius: 3px;
    border:1px solid #fffa00;
    cursor:pointer;
    
}
.item6{
    width: 20px;
    height:20px;
    background-color: #ffcf00;
    border-radius: 3px;
    border:1px solid #ffcf00;
    cursor:pointer;
}
.item7{
    width: 20px;
    height:20px;
    background-color: #90e200;
    border-radius: 3px;
    border:1px solid #90e200;
    cursor:pointer;
    
}
.item8{
    width: 20px;
    height:20px;
    background-color: #00ab00;
    border-radius: 3px;
    border:1px solid #00ab00;
    cursor:pointer;
 
}
.item9{
    width: 20px;
    height:20px;
    background-color: #00b2d4;
    border-radius: 3px;
    border:1px solid #00b2d4;
    cursor:pointer;

}
.item10{
    width: 20px;
    height:20px;
    background-color: #0062c6;
    border-radius: 3px;
    border:1px solid #0062c6;
    cursor:pointer;
  
}
.item11{
    width: 1.25em;
    height:1.25em;
    background-color: #8c20ba;
    border-radius: 3px;
    border:1px solid #8c20ba;
    cursor:pointer;
  
}
.item12{
    width: 20px;
    height:20px;
    background-color: #f52394;
    border-radius: 3px;
    border:1px solid #f52394;
    cursor:pointer;
  
}
.item13{
    width: 20px;
    height:20px;
    background-color: white;
    border-radius: 3px;
    border:1px solid grey;
    cursor:pointer;
 
}
.item14{
    width: 20px;
    height:20px;
    background-color: grey;
    border-radius: 3px;
    border:1px solid grey;
    cursor:pointer;
   

}
.item15{
    width: 20px;
    height:20px;
    background-color: black;
    border-radius: 3px;
    border:1px solid black;
    cursor:pointer;
   
}
.color .tooltiptext{
    visibility: hidden;
    background-color: white;
    color:grey;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 140%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.color:hover .tooltiptext {
    visibility: visible;
    opacity:1 
}
.color .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width:10px;
    height: 10px;
    background:white;
    transform: rotate(45deg); 
    border-top:1px solid rgba(188, 187, 187, 0.463);
    border-left:1px solid rgba(188, 187, 187, 0.463);
    z-index: -1;
}
#pattern{
    display:flex;
    gap:3px;
    align-items: center;
    width: 25%;
    height: 20px;
    margin-left:2.6%;
    position: relative;
}
.item16{
    
    background-image: url(spriteimage.png);
    background-position: -381px -447px; 
    width: 33px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.item17{
    width: 32px;
    height:20px;
    background-image: url(spriteimage.png);
    background-position: -282px -448px; 
    width: 33px;
    height: 20px;
    border-radius: 3px;
    cursor:pointer;
}
.item18{
    width: 32px;
    height:20px;
    background-image: url(spriteimage.png);
    background-position: -314px -448px; 
    width: 33px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.item19{
    width: 32px;
    height:20px;
    background-image: url(spriteimage.png);
    background-position: -347px -448px; 
    width: 33px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.patn .tooltiptext{
    visibility: hidden;
    background-color: white;
    color:grey;
    font-size:12px;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.patn:hover .tooltiptext {
    visibility: visible;
    opacity:1;
  }
  .patn:hover .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width: 10px;
    height: 10px;
    background:white;
    transform: rotate(45deg); 
    border-top:1px solid rgba(188, 187, 187, 0.463);
    border-left:1px solid rgba(188, 187, 187, 0.463);
    z-index: -1;
}
#adv_setting{
    color:rgba(122, 120, 120, 0.797);
    font-size: 14px;
    width: 19.5%;
    gap:10px;
    display: flex;
    justify-content: right;
    align-items: center;

}
#adv_setting:hover{
    cursor: pointer;
}
.advance .tooltiptext{
    visibility: hidden;
    width:120px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    top: 100%;
    z-index: 1;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.advance:hover .tooltiptext {
    visibility: visible;
    opacity:1 
}
.setting{
    
    background-image: url(spriteimage.png);
    background-position: -405px -316px; 
    width: 21px;
    height: 19px;
}
.setting .tooltiptext{
    visibility: hidden;
    width:120px;
    background-color: black;
    color:white;
    text-align: center;
    font-size:12px;
    border-radius: 3px;
    padding:5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.setting:hover .tooltiptext {
    visibility: visible;
    opacity:1;
  }
  .setting:hover{
    cursor:pointer;
  }
main{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap:40px;
} 
#left_container{
    width: 76%;
    display: flex;
    flex-direction: column;
}
.tool_head{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color:#6e7071;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}
.tool:hover{
    cursor: pointer;
}
.left_tool{
    width: 50%;
    display: flex;
    gap:30px;
}

.left_tool1 {
    display: flex;
    gap:5px;
}
.dropdown_icon{
    width: 15px;
    background-image: url(spriteimage.png);
    background-position: -526px -106px; 
    width: 11px;
    height: 7px;
    place-self: center;
}

.left_tool2 {
    display: flex;
    gap:5px;
}

.right_tool{
    display: flex;
    width: 50%;
    align-items: center;
    gap:30px;
    justify-content: right;

}
.right_tool1{
    display: flex;
    gap:10px;
    align-items: center;

}
.share_icon{
    background-image: url(spriteimage.png);
    background-position: -496px -442px; 
    width: 24px;
    height: 21px;
    transform: scale(.8);
}

.right_tool2{
    display: flex;
    align-items: center;
    gap:5px;
    
}
.right_tool3{
    display: flex;
    gap:15px;
    position: relative;
    
}
.icon1{
    background-image: url(spriteimage.png);
    background-position: -255px -511px; 
    width: 17px;
    height: 17px;
    opacity: .8;
}
.icon1:hover{
    opacity: 1;
    cursor: pointer;
}
.icon2{
    background-image: url(spriteimage.png);
    background-position: -188px -475px; 
    width: 20px;
    height: 18px;
}
.icon3{
    background-image: url(spriteimage.png);
    background-position: -264px -475px; 
    width: 19px;
    height: 19px;
    opacity: .8;
}
.icon3:hover{
    opacity: 1;
    cursor: pointer;
}
.view .tooltiptext{
    visibility: hidden;
    width: 100px;
    background-color: black;
    color:white;
    text-align: center;
    font-size:12px;
    border-radius: 3px;
    padding:2px;
    position: absolute;
    z-index: 1;
    top: 100%;
    transition: opacity 0.3s;
    border:1px solid rgba(195, 193, 193, 0.736);
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.view:hover .tooltiptext {
    visibility: visible;
    opacity:1;
  }
.img1_head{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img1_con{
   
    height: 120px;
}
.img1_list{
    height: 120px;
    display: flex;
    gap:5px;
}
.img1_list img{
    min-width: 12%;
    height: 120px;
    cursor: pointer;
}
.img1_foot{
    height: 30px;
    color:#006dac;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1_right_head:hover, .img1_foot:hover, .img2_right_head:hover, .img3_right_head:hover, .img4_right_head:hover{
    cursor: pointer;
    text-decoration: underline;
}
.img1_right_head, .img2_right_head, .img3_right_head, .img4_right_head{
    color:#006dac;
}
.img2_head{
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img2_con{
    height: 180px;
}
.img2_list{
    height: 180px;
    display: flex;
    gap:5px;
    overflow-x: hidden;
}
.img2_list img{
    min-width: 18%;
    height: 180px;
    display: flex;
    flex-shrink: 1;
    flex-basis:100%;
    cursor: pointer;

}
.img3_head{
   
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img3_con{
   
    height: 180px;
}
.img3_list{
   
    height: 180px;
    display: flex;
    gap:5px;

}
.img3_list img{
    min-width: 24%;
    height: 180px;
    display: flex;
    flex-grow: 1;
    cursor: pointer;
}
.img4_head{
   
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img4_con{
   
    height: 100rem; 
}
.img4_con .img4_list{
    display:flex;
    max-width: 1200px;
   
    flex-wrap: wrap;
    gap:5px;
    
}
.img4_con .img4_list img{
    min-width: 20%;
    height: 200px;
    flex-grow:1;
    object-fit:cover;
    cursor: pointer;
   
}
#right_container{
    width: 24%;
    padding-top: 40px;
   
}
aside{
   
    display: flex;
    flex-direction: column;
    row-gap:15px;
}
#side_box1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;  
    padding:25px;
}
.side_box1_head{
    
    height: 50px;
    display: flex;
    align-items: center;
}
.side_box1_con ul li{
    background-color: rgb(210, 209, 209);
    border:none;
    border-radius:5px;
    float:left;
    margin: 0 5px 5px 0;
    max-width: 96%;
    padding:5px;
    position: relative;
    transition: all .15s ease-in-out;
    list-style: none;
  }
  .side_box1_con ul li:hover{
    cursor: pointer;
    background-color:  #868d91;;
    color:white;
  }
  #side_box2{
   
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .side_box2_head{
   
    height: 50px;
    display: flex;
    align-items: center;
  }
  .side_box2_con1{
   
    height: 150px;

  }
  .side_box2_con_head{
    max-width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

  }
  .side_box2_con1_groupname{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space:nowrap;
    text-overflow: ellipsis;
  }
  .side_box2_con2_groupname{
    width: 60%;
    display: flex;
    align-items: center;
  }
  .side_box2_con1_groupname:hover, .side_box2_con2_groupname:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .side_box2_con2{
    height: 150px;
  }
  .side_box2_con_head input{
    width: 20%;
    height: 60%;
    color:#128fdc;
    border:2px solid #128fdc;
    background-color: transparent;
  }
  .side_box2_con_head input:hover{
    background-color: #128fdc;
    color:white;
    cursor: pointer;
}
.side_box2_con1_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
   

}
.side_box2_con1_profile img{
    width: 35px;
    height: 35px;
    border:1px solid grey;
    border-radius: 100%;
    padding: 2px;

}
.side_box2_con2_profile{
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.side_box2_con1_profile img:hover, .side_box2_con2_profile img:hover{
    cursor: pointer;
}
.side_box2_con2_profile img{
    width: 35px;
    height: 35px;
    border:1px solid grey;
    border-radius: 100%;
    padding: 2px;
}
.side_box2_con1_imgset{
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    gap:5px;

}
.side_box2_con1_imgset img{
    min-width: 20%;
    height: 50px;
    flex-grow: 1;
}
.side_box2_con1_imgset img:hover{
    cursor: pointer;
}
  #side_box3{
   
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 25px;
}
#side_box3 ul{
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
    font-size: 12px;
    
}
#side_box3 ul li:hover{
    cursor: pointer;
    text-decoration: underline;

}
.lang{
    display: flex;
}
.lang_img{
    place-self: center;
    background-image: url(spriteimage.png);
    background-position: -540px -482px; 
    width: 17px;
    height: 11px;
    transform:scale(0.7)
}
@media(max-width:600px){
    #flickr-base{
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #8c20ba81;
    }


}