/*class selector*/
.intro{background-color: pink;}
p .hometown{background-color: orange;}
p .center{text-align: center;
          color: brown;}
p .large{font-size: large;}


/*id selector*/
#firstname{background-color: lightgrey;}

/* *selector*/
*{background-color: powderblue;}
div *{background-color: yellowgreen;}

/* element selector*/
p{background-color: indianred;}

/*element.class selector*/
p.color{background-color: yellow;}

/*element,element selector*/
h1,p{background-color: aqua;}

/* combinators*/

/*element   element selector*/
div p{background-color: cadetblue;}

/*element > element selector*/
div > p {background-color: rgb(97, 69, 35);}

/*element + element selector*/
div > p {background-color: rgb(67, 168, 106);}

/*element ~ element selector*/
p > ul {background-color: rgb(145, 154, 231);}

/* attribute selector*/
a {background-color: mediumturquoise;}

/* [attribute = value, that containing only that specific word]*/
a[target="blank"] {background-color: antiquewhite;}
input[type="text"]{width:100px;}

/* [attribute ~ =value], that containing a specific word*/
[title~="flower"]{border-color: black;}

/*[attribute|value] that attribute contains a specific word*/
[lang|="en"] {background-color:beige;} 

/* [attribute^=value] attibute value begins with a specific word*/
[class^="test"] {background-color: aquamarine;}

/*[attribute$=value] attribute value ends with a specific word*/
[class$="test"] {background-color: peru;}

/* link active, visited, hover selector*/
a:active{color: darkcyan;}
a:visited{color:brown;}
a:hover{color:chartreuse}
a:link{color: yellow;}

/*add content in after the each line/paragraph*/
::after{content:"remember this"}

/*add content in before the each line/paragraph*/
::before{content:"read this-"}

/*checked selector*/
input:checked{width:15px;height:15px}

/*default selector*/
input:default{box-shadow: 0 0 1PX 1PX red;}

/* enabled selector*/
input[type=text]:enabled{background-color: #3edf34;}

/* input disabled selector*/
input[type=text]:disabled{background-color:grey;}

/* option disabled selector*/
option:disabled{background-color:bisque}

/*empty selector*/
p:emply{width:100; height:20px;background:#3edf34}
 
/*first-child selector*/
p:first-child i {background-color: aliceblue;}
li:first-child {background-color:orange}
ul> :first-child{background-color: #3edf34;}
 
/* ::first letter selector*/
p::first-letter{font-size:200px;
                color:blueviolet;}

/* first-line selector*/
p::first-line{background-color:aqua}

/*first-of-type selector*/
p:first-of-tyoe{background-color: #3edf34;}

/*focus selector*/
input:focus{background-color: #3edf34;}
input[type="text"]:focus {
    width: 250px;}
  
/*fullscree selector*/


/*in range selector*/
input:in-range{border:2px solid red;}

/*interdeterminate selector*/
input:interdeterminate {box-shadow:0,0,1px,1px;}

/*invalid selector*/
input:invalid{border:2px solid red;}

/*language selector*/
p:lang(it){background-color: #3edf34;}

/*last-child selector*/
p:last-child{background-color: #3edf34;}

/*last-of-type*/
p:last-of-type{background-color: #3edf34;}

/* marker selectors*/
marker{color:red;}

/*not selector*/
not p{color:#3edf34;}

/*nth-child selector*/
div:nth-child(2){background:red;}
p:nth-child(odd){background-color: #3edf34;}
p:nth-child(even){background-color:sandybrown;}

/*nth-last-child*/
p:nth-last-child(3){background-color: #3edf34;}

/*only of type selector*/
p:only-of-type{background-color: #3edf34;}

/*only child selector*/
p:only-child{background:red;}

/*optional selector*/
input:optional{background-color: #3edf34;}

/*out of range selector*/
input:out-of-range{border :2px solid blue}

/*place holder selector*/
placeholder{color:red;}

/*readonly selector*/
input:readonly{background:#3edf34;}

/*read write selector*/
input:read-write{background-color: #3edf34;}

input:required{background-color: #3edf34;}
root{background-color: #3edf34;}

selection{background-color: #3edf34;
            color:red;}
 targer{border:2px solid blue;}
 
 input:valid{background-color: #3edf34;}

 