 @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Nunito+Sans:wght@300&family=Playfair:ital,wght@1,500&family=Poppins:wght@300;400;700&display=swap');
      *{
          margin:0;
          padding:0;
          box-sizing: border-box;
      }
      body{
          width: 100vw;
          height: 100vh;
          overflow-x: hidden;
          background-color:rgba(128, 0, 128, 0.305);
      }
      .container{
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-rows: 100px 1fr;
      }
      header{
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(159, 150, 244); 
      }
      .icon{
          width: 10%;
        visibility:  hidden;
      }
      .shop{
              width: 25%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
          }
      #shop_name{
          font-family: 'Inspiration', cursive;
          font-size: 70px;
          font-style: oblique;
          font-display: 0%;
          color:purple;
          font-weight: bold;
          
      }
      #shopname{
          position: absolute;
          left:22%;
          font-weight: bold;
          font-family: 'Inspiration', cursive;
          font-size: 70px;
          font-style: oblique;
          font-display: 0%;
          color:white;
      }
      form{
          width: 50%;
          height: 100%;
      }
      .filter{
          padding: 20px;
          display: grid;
          grid-template-columns: 33.333% 33.333% 33.333%;
          column-gap: 1%;
      }
      .filter .item{
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .filter .item select,
      .filter .item input,
      .filter .item button{
          width: 100%;
          padding: 5px;
          border:none;
          background-color: transparent;
          border-left: 1px solid #ddd;
          outline:none;
      }
      .filter .item label{
          display: block;
          width: 40%;
      }
      .filter .submit button{
          background-color: #a982ed96;
          cursor: pointer;
          font:18px bold;
      }
      main{
        width:80%;
        height: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 100px 1fr;

      }
      .countResults{
         width: 100%;
          font-size: xx-large;
          text-align: center;
          padding: 20px;
      }
      #list{
        width: 100%;
          display: grid;
          column-gap: 5px;
          grid-template-columns: 25% 25% 25% 25%;
          row-gap:10px;
      }
      #list .item img{
          width: 50%;
          height: 200px;
          object-fit:contain;
          transform: scale(.8);
          border-radius: 10px;
          cursor: pointer;
          background-color: transparent;
      }
      #list .item{
          background-color: #fff5;
          text-align:center;
          border-radius: 10px;
      
      }
      #list .item .title{
          font-weight: bold;
      }
      #list .item .price{
         color:black;
         letter-spacing: 1px;
         padding: 20px;  
      }
      #search{
        display: none;
      }
      #cart{
          width: 15%;
          height:50px;
          text-align: center;
          background-image:url(carrt.png);
          background-size: contain;
          background-repeat: no-repeat;
          transform: scale(0.7);
          cursor: pointer;
      
      }
      #cart:hover{
        opacity: 0.6;
      }
      
@media  (max-width: 525px){
   body{
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
   }
   form{
        position: absolute;
        top:100px;
        width: 400px;
        height: 100px;

    } 
    .countResults{
        position: absolute;
        top:200px;
        width: 60%;
        margin: 0 auto;
    }
    #list{
        width: 50%;
        position: absolute;
        top:300px;
        margin: 0 auto;
    }
    .icon{
        visibility: visible;
        width: 10%;
        height: 30%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    #menu_icon{
        width: 18px;
        height: 3px;
        background-color:white;
        position:absolute;
        cursor: pointer;
        left:20px;
    }
    
    #menu_icon::before{
        content:"";
        width:18px;
        height: 3px;
        background-color: white;
        position: absolute;
        top: -8px;
    }
        #menu_icon::after{
            content:"";
            width:18px;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 8px;
        }
      .shop{
        width: 70%;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: start;
      }  
      #shop_name{
        font-family: 'Inspiration', cursive;
        font-size: 30px;
        font-style: oblique;
        font-display: 0%;
        color:purple;
        font-weight: bold;
        
    }
    #shopname{
        position: absolute;
        left:3px;
        font-weight: bold;
        font-family: 'Inspiration', cursive;
        font-size: 30px;
        font-style: oblique;
        font-display: 0%;
        color:white;
    }
     
      #list{
        width: 80%;
        height: 200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
       
    }
      #list .item{
        width: 100%;
        height: 250px;
        background-color: #fff5;
        text-align:center;
        border-radius: 10px;
    
    }
      #list .item img{
        width: 100%;
        height: 100px;
        object-fit:contain;
        border-radius: 10px;
        cursor: pointer;
        background-color: transparent;
    }
    header{
        position: relative;
    }
    #profile{
        width: 50px;
        height: 50px;
        background-image: url(profile.png);
        transform: scale(0.68);
        border-radius: 50%; 
        position: absolute;
        right:12px;
        }
        #cart{
            width: 20%;
            position: absolute;
            right: 25px;
          }
        #menu_icon:hover, #profile:hover{
        cursor:pointer;
        opacity: 0.6;
    }
}