*{
    margin:0;
    padding:0;
}
.container{
    width:45vw;
    height:100vh;
    position:relative;
    left:25vw;
    gap:10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:0.50fr 1fr 0.20fr 1fr 0.20fr 1fr 0.20fr 1fr 0.20fr;
}
.lay{
    
    box-shadow:3px 3px rgba(181, 223, 239, 0.6);
    border:2px solid rgb(177, 221, 239);
    border-radius:5px;
}
.ch{
    background-color: rgb(116, 191, 245);
    margin:2px;
   border-radius:3px;
}
.grid{
    grid-column:3/4;
    grid-row:1/2;
   place-self:end center;
   font-weight: bold;
}
.grid::before{
    content:'';
    display:inline-block;
    margin-top:10px;
    height:50px;
    width:50px;
    background-image:url(download.png);
    background-size: cover;

}

.layout1{
    grid-column: 1/2;
    grid-row:2/3;   
}
.content1{
    grid-column: 1/2;
    grid-row:3/4;
    place-self: center;
}
.layout2{
     grid-column: 2/3;
     grid-row:2/3;
     display:grid;
     grid-template-areas: 
     'ch';
}
.child1{
   grid-area:ch;
   
}
   
.content2{
    grid-column: 2/3;
    grid-row:3/4;
    place-self: center;
}
.layout3{
    grid-column: 3/4;
    grid-row:2/3;
    display:grid;
    grid-template-areas: 
    'ch1 ch2';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    
}
.child2{
    grid-area:ch1;
   
}
.child3{
    grid-area:ch2;
   
}
.content3{
    grid-column:3/4;
    grid-row:3/4;
    place-self: center
}
.layout4{
    grid-column: 4/5;
    grid-row:2/3;
    display:grid;
    grid-template-areas: 
    'ch1 ch2 ch3';
}
.child4{
    grid-area:ch1;
    }
.child5{
    grid-area:ch2;
}
.child6{
    grid-area:ch3;
    }
.content4{
    grid-column: 4/5;
    grid-row:3/4;
    place-self: center
}
.layout5{
    grid-column: 5/6;
    grid-row:2/3;
    display:grid;
    grid-template-areas: 
    'ch1 ch2 ch3 ch4';
}
.child7{
    grid-area:ch1;
   }
.child8{
    grid-area:ch2;
    }
.child9{
    grid-area:ch3;
    }
.child10{
    grid-area:ch4;
   }
.content5{
    grid-column: 5/6;
    grid-row:3/4;
    place-self: center
}
.layout6{
    grid-column: 1/2;
    grid-row:4/5;
    display:grid;
    grid-template-areas: 
    'ch1'
    'ch2';
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    
}
.child11{
    grid-area:ch1;
    
}
.child12{
    grid-area:ch2;
    
}
.content6{
    grid-column:1/2;
    grid-row:5/6;
    place-self: center
}
.layout7{
    grid-column: 2/3;
    grid-row:4/5;
    display:grid;
    grid-template-areas: 
    'ch1'
    'ch2'
    'ch3';
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.child13{
    grid-area:ch1;
   }
.child14{
    grid-area:ch2;
    }
.child15{
    grid-area:ch3;
   }
.content7{
    grid-column: 2/3;
    grid-row:5/6;
    place-self: center
}
.layout8{
    grid-column: 3/4;
    grid-row:4/5;
    display:grid;
    grid-template-areas: 
    'ch1' 
    'ch2' 
    'ch3'
    'ch4';
}
.child16{
    grid-area:ch1;
    }
.child17{
    grid-area:ch2;
    }
.child18{
    grid-area:ch3;
  }
.child19{
    grid-area:ch4;
  }
.content8{
    grid-column: 3/4;
    grid-row:5/6;
    place-self: center
}
.layout9{
    grid-column: 4/5;
    grid-row:4/5;
    display:grid;
    grid-template-areas: 
    'ch1' 
    'ch2' 
    'ch3'
    'ch4'
    'ch5';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
}
.child20{
    grid-area:ch1;
    }
.child21{
    grid-area:ch2;
    }
.child22{
    grid-area:ch3;
    }
.child23{
    grid-area:ch4;
    }
.child24{
    grid-area:ch5;
   }
.content9{
    grid-column: 4/5;
    grid-row:5/6;
    place-self: center
}
.layout10{
    grid-column: 5/6;
    grid-row:4/5;
    display:grid;
    grid-template-areas: 
    'ch1' 
    'ch2' 
    'ch3'
    'ch4'
    'ch5'
    'ch6';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
}
.child25{
    grid-area:ch1;
    }
.child26{
    grid-area:ch2;
    }
.child27{
    grid-area:ch3;
   }
.child28{
    grid-area:ch4;
    }
.child29{
    grid-area:ch5;
   }
.child30{
    grid-area:ch6;
    }
.content10{
    grid-column: 5/6;
    grid-row:5/6;
    place-self: center
}
.layout11{
    grid-column: 1/2;
    grid-row:6/7;
    display:grid;
    grid-template-areas: 
    'ch1 ch2' 
    'ch3 ch4' 
    'ch5 ch6';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.child31{
    grid-area:ch1;
   }
.child32{
    grid-area:ch2;
    }
.child33{
    grid-area:ch3;
    }
.child34{
    grid-area:ch4;
    }
.child35{
    grid-area:ch5;
    }
.child36{
    grid-area:ch6;
    }
.content11{
    grid-column: 1/2;
    grid-row:7/8;
    place-self: center
}
.layout12{
    grid-column: 2/3;
    grid-row:6/7;
    display:grid;
    grid-template-areas: 
    'ch1 ch2 ch3 ch4' 
    'ch5 ch6 ch7 ch8' 
    'ch9 ch10 ch11 ch12'
    'ch13 ch14 ch15 ch16'
    'ch17 ch18 ch19 ch20'
    'ch21 ch22 ch23 ch24' ;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.child37{
    grid-area:ch1;
    }
.child38{
    grid-area:ch2;
   }
.child39{
    grid-area:ch3;
    }
.child40{
    grid-area:ch4;
    }
.child41{
    grid-area:ch5;
    }
.child42{
    grid-area:ch6;
    }
.child43{
    grid-area:ch7;
   }
.child44{
    grid-area:ch8;
   }
.child45{
    grid-area:ch9;
    }
.child46{
    grid-area:ch10;
   }
.child47{
    grid-area:ch11;
    }
.child48{
    grid-area:ch12;
    }
.child49{
    grid-area:ch13;
    }
.child50{
    grid-area:ch14;
   }
.child51{
    grid-area:ch15;
   }
.child52{
    grid-area:ch16;
    }
.child53{
    grid-area:ch17;
   }
.child54{
    grid-area:ch18;
    }
.child55{
    grid-area:ch19;
   }
.child56{
    grid-area:ch20;
    }
.child57{
    grid-area:ch21;
    }
.child58{
    grid-area:ch22;
    }
.child59{
    grid-area:ch23;
    }
.child60{
    grid-area:ch24;
    }
.content12{
    grid-column: 2/3;
    grid-row:7/8;
    place-self: center
}
.layout13{
    grid-column: 3/4;
    grid-row:6/7;
    display:grid;
    grid-template-areas: 
    'ch1'
    'ch2';
   
    grid-template-rows:5fr 2fr;
}
.child61{
    grid-area:ch1;
    
}
.child62{
    grid-area:ch2;
}
.content13{
    grid-column: 3/4;
    grid-row:7/8;
    place-self: center
}
.layout14{
    grid-column: 4/5;
    grid-row:6/7;
    display:grid;
    grid-template-areas: 
    'ch1 ch1'
    'ch2 ch3';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 2fr;
}
.child63{
    grid-area:ch1;
   }
.child64{
    grid-area:ch2;
    
}
.child65{
    grid-area:ch3;
   }
.content14{
    grid-column: 4/5;
    grid-row:7/8;
    place-self: center
}
.layout15{
    grid-column: 5/6;
    grid-row:6/7;
    display:grid;
    grid-template-areas: 
    'ch1 ch1 ch1 ch1'
    'ch2 ch3 ch4 ch5';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}
.child66{
    grid-area:ch1;
   
}
.child67{
    grid-area:ch2;
    
}
.child68{
    grid-area:ch3;
    
}
.child69{
    grid-area:ch4;
    
}
.child70{
    grid-area:ch5;
    
}
.content15{
    grid-column: 5/6;
    grid-row:7/8;
    place-self: center
}
.layout16{
    grid-column: 1/2;
    grid-row:8/9;
    display:grid;
    grid-template-areas: 
    'ch1 ch2'
    'ch3 ch3'
    'ch4 ch5';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.child71{
    grid-area:ch1;
   
}
.child72{
    grid-area:ch2;
    
}
.child73{
    grid-area:ch3;
    
}
.child74{
    grid-area:ch4;
    
}
.child75{
    grid-area:ch5;
    
    }

.content16{
    grid-column: 1/2;
    grid-row:9/10;
    place-self: center
}
.layout17{
    grid-column: 2/3;
    grid-row:8/9;
    display:grid;
    grid-template-areas: 
    'ch1 ch1 ch2'
    'ch3 ch4 ch4'
    'ch5 ch5 ch6';
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.child76{
    grid-area:ch1;
    
}
.child77{
    grid-area:ch2;
    
    }
.child78{
    grid-area:ch3;
    }
.child79{
    grid-area:ch4;
    }
.child80{
    grid-area:ch5;
    }
.child81{
    grid-area:ch6;
    }
.content17{
    grid-column: 2/3;
    grid-row:9/10;
    place-self: center
}
.layout18{
    grid-column: 3/4;
    grid-row:8/9;
    display:grid;
    grid-template-areas: 
    'ch1 ch2'
    'ch1 ch4'
    'ch3 ch4';
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
}
.child82{
    grid-area:ch1;
   }
.child83{
    grid-area:ch2;
    }
.child84{
    grid-area:ch3;
    }
.child85{
    grid-area:ch4;
    }

.content18{
    grid-column: 3/4;
    grid-row:9/10;
    place-self: center
}
.layout19{
    grid-column: 4/5;
    grid-row:8/9;
    display:grid;
    grid-template-areas: 
    'ch1 ch1 ch2'
    'ch1 ch1 ch3'
    'ch4 ch6 ch6'
    'ch5 ch6 ch6';
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:1fr 2fr 2fr 1fr;
}
.child86{
    grid-area:ch1;
   }
.child87{
    grid-area:ch2;
    }
.child88{
    grid-area:ch3;
    }
.child89{
    grid-area:ch4;
    }
.child90{
    grid-area:ch5;
    }
.child91{
    grid-area:ch6;
  }

.content19{
    grid-column: 4/5;
    grid-row:9/10;
    place-self: center
}
.layout20{
    
    grid-column: 5/6;
    grid-row:8/9;
    display:grid;
    grid-template-areas: 
    'ch1 ch1 ch4 ch5'
    'ch1 ch1 ch6 ch7'
    'ch2 ch3 ch6 ch8'
    'ch9 ch9 ch10 ch11'
    'ch12 ch13 ch13 ch11'
    'ch14 ch13 ch13 ch15' ;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat (6, 1fr);
}
.child92{
    grid-area:ch1;
   }
.child93{
    grid-area:ch2;
  }
.child94{
    grid-area:ch3;
 }
.child95{
    grid-area:ch4;
    }
.child96{
    grid-area:ch5;
  }
.child97{
    grid-area:ch6;
   }
.child98{
    grid-area:ch7;
  }
.child99{
    grid-area:ch8;
   }
.child100{
    grid-area:ch9;
   }
.child101{
    grid-area:ch10;
  }
.child102{
    grid-area:ch11;
   }
.child103{
    grid-area:ch12;
  }
.child104{
    grid-area:ch13;
  
}
.child105{
    grid-area:ch14;
   }
.child106{
    grid-area:ch15;
   }
.content20{
    grid-column: 5/6;
    grid-row:9/10;
    place-self: center
}
