*{
    margin:0;
    padding:0;
    
}
body{
    width:100vw;
    height:100vh;
   
    display:grid;
    grid-template-areas:
    'head head head head'
    'ads side1 side2 side2'
    'ads main main content'
    'ads nav side3 side4'
    'ads foot foot foot';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns:1fr 1fr 1fr 1fr;
}
.item{
    background-color: rgb(232, 195, 32);
    margin:2px;
   border:10px solid white;
   padding:20px;
   font-weight: bold;
   font-size:20px; 
   color:white;
}

.box1{
    grid-area:head;
}
.box2 {
    grid-area:ads;
}
.box3{
    grid-area:side1;
}
.box4{
    grid-area:side2;
}
.box5{
    grid-area:main;
}
.box6{
    grid-area:content;
}
.box7{
    grid-area:nav;
}
.box8{
    grid-area:side3;
}
.box9{
    grid-area:side4;
}
.box10{
    grid-area:foot;
}