<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Layout9</title>
    <link rel="stylesheet" href="09style.css">
</head>
<body>
    <div class="container1">
    <div class="box box1">940px</div>
  </div>
   <div class="container2">
    <div class="box box2">460px</div>
    <div class="box box3">460px</div>
 </div>
 <div class="container3">
    <div class="box box4">300px</div>
    <div class="box box5">300px</div>
    <div class="box box6">300px</div>
  </div>
  <div class="container4">
    <div class="box box7">220px</div>
    <div class="box box8">220px</div>
    <div class="box box9">220px</div>
    <div class="box box10">220px</div>
 </div>
 <div class="container5">
    <div class="box box11">172px</div>
    <div class="box box12">172px</div>
    <div class="box box13">172px</div>
    <div class="box box14">172px</div>
    <div class="box box15">172px</div>
   </div>
</body>
</html>