<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="12style.css">
</head>
<body>
    <div class="container">
        <div class="item box1">HEADER</div>
        <div class="item box2">MENU</div>
        <div class="item box3">HERO</div>
        <div class="item box4">MAIN</div>
        <div class="item box5">IMAGE</div>
        <div class="item box6">EXTRA</div>
        <div class="item box7">BANNER</div>
        </div>

  
</body>
</html>