*{
    margin:0;
    padding:0; 
    box-sizing: border-box; 
}
.container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 75px 410px 155px 155px 150px;
    align-content: center;
}

.item{
    color:white;
    font-size: 30px;
    
   text-align: center;
   
}

.box1{
    background-color: rgb(12, 12, 69);
    grid-column:1/1;
    
}
.box2{
    background-color: red;
    grid-column:2/5;
   
}
.box3{
    background-color:rgb(49, 49, 240) ;
    grid-column-start: 1;
    grid-column-end:5 ;
    grid-row-start:2 ;
    grid-row-end: 3;
}
.box4{
    background-color:rgb(12, 12, 69);
    grid-column-start:1 ;
    grid-column-end: 3;
    grid-row-start:3 ;
    grid-row-end:5 ;
}
.box5{
    background-color:rgb(153, 206, 153) ;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:3 ;
    grid-row-end: 4;
}
.box6{
    background-color: rgb(48, 101, 48);
    grid-column-start:4 ;
    grid-column-end:5 ;
    grid-row-start:4 ;
    grid-row-end: 5;
}
.box7{
    background-color: rgb(228, 228, 80);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end:6 ;
}
@media (max-width:1024px)
    

{
.container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-areas:
    'head head head head'
    'hero hero hero hero' 
    'menu main main main'
    'menu ban ban ban'
    'menu ex ex img';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 85px 1fr 260px 150px 150px;
}
 .box1{
    background-color: rgb(12, 12, 69);
    grid-area:head;
 }
 .box2{
    background-color: red;
    grid-area:menu
 }
 .box3{
    background-color:rgb(49, 49, 240) ;
    grid-area:hero
 }
 .box4{
    background-color:rgb(12, 12, 69);
    grid-area:main
 }
 .box5{
    background-color:rgb(153, 206, 153) ;
    grid-area:img
 }
 .box6{
    background-color: rgb(48, 101, 48);
    grid-area:ex
 }
 .box7{
    background-color: rgb(228, 228, 80);
    grid-area:ban
 }
}
@media (max-width:760px)
    

{
.container{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-areas:
    'head'
    'menu'
    'hero'
    'main'
    'ban'
    'ex'
    'img';
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 1fr 100px 100px 100px;
}

} 