*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background-color: rgb(245, 244, 244);
}
header{
    width:100vw;
    height:5.3vh;
    margin:auto;
    display:flex;
    background-color: black;
    position: relative;
    transform: scaleX(1);
    transform: scaleY(1);
}
#logo{
    display: flex;
}
#logo:hover{
    cursor:pointer;
    opacity: 0.8;
}
.img1{
    background-image: url(spriteimage.png);
    background-position: -151px -99px; 
    width: 41px;
    height: 44px;
    transform:scale(.25);
    position:absolute;
    left: 9.2%;
    top:3px;
    color:rgb(117, 114, 114);
}
.img2{
    background-image: url(spriteimage.png);
    background-position: -196px -99px; 
    width: 43px;
    height: 41px;
    transform:scale(.24);
    position:absolute;
    left: 9.8%;
    top:4px;
    color:rgb(117, 114, 114);
   
}
.logo{
    background-image: url(spriteimage.png);
    background-position: 0px -231px; 
    width: 153px;
    height: 51px;
    position:absolute;
    left:9.4%;
    bottom:2px;
    transform:scale(0.45);
   
}
.menu{
    display: flex;

}
.menu ul{
    display:inline-flex;
    list-style-type: none;
    align-content: center;
    position:absolute;
    left:16.5vw;
    top:1.6vh;
    font-size: 15.5px; 
    color:white;   
    
}
.menu ul li{
    display:block;
    padding-left:18px;
    padding-right:13px;
}
.menu ul li:hover{
    cursor:pointer;
    color:rgb(156, 153, 153);
}
.sub-menu-1{
    display:none;
}
.menu ul li:hover .sub-menu-1{
    display:block;
    position:absolute; 
    margin-top: -13px;
    margin-left:-315px;
}
.menu ul li:hover .sub-menu-1 ul{
    display:block;
    margin:10px;
    background-color: rgb(255, 255, 255);
    color:black;
    border:1px solid rgba(128, 128, 128, 0.37);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
}
.menu ul li:hover .sub-menu-1 ul li{
    width:150px;
    padding:2px;
    margin:5px;
    border-radius: 0;
    text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li:hover{
    background-color:rgba(0,0,0,0.042); 
}
.menu .sub-menu-1::before{
    content:'';
    position:absolute;
    top:21px;
    left:21em;
    width:15px;
    height: 15px;
    background:white;
    transform: rotate(45deg);
}

form{
    display:flex;
    align-self: center;
    position: absolute;
    right:21em;
    
}
#search-icon{
    background-color: transparent;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-image: url(spriteimage.png);
    background-position: -314px -232px; 
    width: 23px;
    height: 21px;
    opacity: rgba(0, 0, 0, 0.121);
    cursor: pointer;
    transform: scale(1.5);
    place-self: center;
    position:absolute;
    left:7px;
    z-index:1;
    

}
#search-icon:focus{
    width:100px;
    outline:none; 
    background-color: white;
    transition-duration: 0.4s;
    float:right;
}
#search-box{
    width:220px;
    height:33px;
    background-color:rgba(255, 255, 255, 0.848);
    color:black;
    border:none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    /*border-radius: 2px;*/
    text-indent: 10px;
    padding-left:40px;
    position:relative;
}
#search-box:focus{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
#profile{
    display:flex;
}
.img3:hover, .img4:hover, .img5:hover{
    cursor:pointer;
    opacity: 0.8;   
}
.img3{
    background-image: url(spriteimage.png);
    background-position: -411px -447px; 
    width: 31px;
    height: 23px;
    place-self: center;
    position:absolute;
    right:18em;
   
}
.img4{
    background-image: url(spriteimage.png);
    background-position: -492px -419px; 
    width: 26px;
    height: 25px;
    place-self: center;
    position:absolute;
    right:15em;
}
.img5{
    background-image: url(buddyicon01.png);
    position: absolute;
    right:11em;
    border-radius: 100%;
    place-self: center;
    transform: scale(0.7);
}
nav{
    display:flex;
    width:100vw;
    height:9.5vh;
    background-color: white;
    border-bottom: 2px solid rgba(128, 128, 128, 0.357);
}
.nav1 ul{
    display:inline-flex;
    align-items: center;
    width:80vw;
    height:5vh;
    margin:auto;
    position:absolute;
    left:12em;
    border-bottom:2px solid rgba(128, 128, 128, 0.357);
    gap:20px; 
}
.nav1 ul li{
    display:block;
    width: 80px;
    padding: 15px;    
}
.nav1 ul li a{
    text-decoration: none;
    color:black;
}
.active, .nav1 ul li:hover{
    color:rgb(130, 126, 126);
    border-bottom:4px solid rgb(55, 155, 242);
}
.nav2{
    display:flex;
    width:80vw;
    height:4.5vh;
    margin:auto;
    position:relative;
    top:35px;
    right:-3em;
}
.color{
    display:inline-flex;
    gap:3px;
    position:absolute;
    left:25%;
    
}
.color-picker1{
    width: 1.25em;
    height:1.25em;
    background-color: red;
    border-radius: 3px;
    border:1px solid red;
    cursor:pointer;
}
.color-picker2{
    width: 1.25em;
    height:1.25em;
    background-color: darkorange;
    border-radius: 3px;
    border:1px solid darkorange;
    cursor:pointer;
}
.color-picker3{
    width: 1.25em;
    height:1.25em;
    background-color: orange;
    border-radius: 3px;
    border:1px solid orange;
    cursor:pointer;
}
.color-picker4{
    width: 1.25em;
    height:1.25em;
    background-color: pink;
    border:1px solid pink;
    cursor:pointer;
}
.color-picker5{
    width: 1.25em;
    height:1.25em;
    background-color: yellow;
    border-radius: 3px;
    border:1px solid yellow;
    cursor:pointer;
}
.color-picker6{
    width: 1.25em;
    height:1.25em;
    background-color: yellow;
    border-radius: 3px;
    border:1px solid yellow;
    cursor:pointer;
}
.color-picker7{
    width: 1.25em;
    height:1.25em;
    background-color: green;
    border-radius: 3px;
    border:1px solid green;
    cursor:pointer;
}
.color-picker8{
    width: 1.25em;
    height:1.25em;
    background-color: darkgreen;
    border-radius: 3px;
    border:1px solid darkgreen;
    cursor:pointer;
}
.color-picker9{
    width: 1.25em;
    height:1.25em;
    background-color: cyan;
    border-radius: 3px;
    border:1px solid cyan;
    cursor:pointer;
}
.color-picker10{
    width: 1.25em;
    height:1.25em;
    background-color: blue;
    border-radius: 3px;
    border:1px solid blue;
    cursor:pointer;
}
.color-picker11{
    width: 1.25em;
    height:1.25em;
    background-color: violet;
    border-radius: 3px;
    border:1px solid violet;
    cursor:pointer;
}
.color-picker12{
    width: 1.25em;
    height:1.25em;
    background-color: pink;
    border-radius: 3px;
    border:1px solid pink;
    cursor:pointer;
}
.color-picker13{
    width: 1.25em;
    height:1.25em;
    background-color: white;
    border-radius: 3px;
    border:1px solid grey;
    cursor:pointer;
}
.color-picker14{
    width: 1.25em;
    height:1.25em;
    background-color: grey;
    border-radius: 3px;
    border:1px solid grey;
    cursor:pointer;

}
.color-picker15{
    width: 1.25em;
    height:1.25em;
    background-color: black;
    border-radius: 3px;
    border:1px solid black;
    cursor:pointer;
}
.pattern{
    display: inline-flex;
    gap:3px;
    position:relative;
    right:-45em;
    
}
.pattern1{
    width: 2em;
    height:1.5em;
    background-image: url(spriteimage.png);
    background-position: -381px -447px; 
    width: 31px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.pattern2{
    width: 2em;
    height:1.5em;
    background-image: url(spriteimage.png);
    background-position: -282px -448px; 
    width: 33px;
    height: 20px;
    border-radius: 3px;
    cursor:pointer;
}
.pattern3{
    width: 2em;
    height:1.5em;
    background-image: url(spriteimage.png);
    background-position: -314px -448px; 
    width: 33px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.pattern4{
    width: 2em;
    height:1.5em;
    background-image: url(spriteimage.png);
    background-position: -347px -448px; 
    width: 33px;
    height: 21px;
    border-radius: 3px;
    cursor:pointer;
}
.advanced{
   position:relative;
   right:-74em;
   bottom:-0.1em;
    color:rgba(122, 120, 120, 0.797);
    font-size: 14px;;
    
}
.setting{
    width:2em;
    height:1.5em;
    background-image: url(spriteimage.png);
    background-position: -405px -316px; 
    width: 21px;
    height: 19px;
    position:relative;
    right:-65em;   
}
.color-picker1 .tooltiptext{
    visibility: hidden;
    width:38px;
    background-color: white;
    color:grey;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: -2%;
    margin-left: -1px;
    border:1px solid rgba(195, 193, 193, 0.736);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.color-picker1:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker1:hover .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width:15px;
    height: 15px;
    background:white;
    transform: rotate(45deg);  
}
.color-picker2 .tooltiptext{
    visibility: hidden;
    width:60px;
    background-color: white;
    color:grey;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: -5%;
    margin-left: -1px;
    border:1px solid rgba(195, 193, 193, 0.736);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(197, 195, 195, 0.34);
}
.color-picker2:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker2:hover .tooltiptext::before{
    content:'';
    position:absolute;
    top:-5px;
    left:15%;
    width:15px;
    height: 15px;
    background:white;
    transform: rotate(45deg);
    
  
}
 /* .color-picker3 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker3:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker4 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker4:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker5 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker5:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker6 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker6:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker7 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker7:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker8 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker8:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker9 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker9:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker10 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker10:hover .tooltiptext {
    visibility: visible;
  }

  .color-picker11 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker11:hover .tooltiptext {
    visibility: visible;
  }.color-picker12 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker12:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker13 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker13:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker14 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker14:hover .tooltiptext {
    visibility: visible;
  }
  .color-picker15 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.color-picker15:hover .tooltiptext {
    visibility: visible;
  }
  .pattern1 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.pattern1:hover .tooltiptext {
    visibility: visible;
  }.pattern2 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.pattern2:hover .tooltiptext {
    visibility: visible;
  }.pattern3 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.pattern3:hover .tooltiptext {
    visibility: visible;
  }.pattern4 .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.pattern4:hover .tooltiptext {
    visibility: visible;
  }
.setting .tooltiptext{
    visibility: hidden;
    width:50px;
    background-color: white;
    color:grey;
    text-align: center;
    border-radius: 3px;
    padding:1px 3px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -25px;
}
.setting:hover .tooltiptext {
    visibility: visible;
  }*/

  menu{
    display:grid;
    margin:auto;
    width:80%;
    height:100%;
    grid-template-columns: 75% 25%;
  }
  
  .container1{
    display:grid;
    width:100%;
    height:100%;
    
  }
  .menu-head{
    display:flex;
    width:100%;
    height:6vh;
    padding-top: 25px;
  }
.menu-tool-1{
    width:100%;
    height:15%;
    display:flex;

}
.tool{
    place-self: center;
    cursor:pointer;
    color:rgb(141, 139, 139);
}
.license{
    width:25%;
    display:flex;
    font-size: small;
    
}
.img{
    place-self: center;
    background-image: url(spriteimage.png);
    background-position: -526px -106px; 
    width: 11px;
    height: 7px;
    
}
.safe-search{
   width: 25%;
   display: flex;
   font-size: small;
   
}
.img{
    place-self: center;
    background-image: url(spriteimage.png);
    background-position: -526px -106px; 
    width: 11px;
    height: 7px;
    
}
.menu-tool-2{
    width:100%;
    height:15%;
    display: flex;
    gap:20px;
    position:relative;
    right:-200px;
}
.share{
    width:50%;
    
    background-image: url(spriteimage.png);
    background-position: -496px -442px; 
    width: 24px;
    height: 21px;

}
.relevant{
    display:flex;
    width:20%;
    font-size: small;
}
.img{
    place-self: center;
    background-image: url(spriteimage.png);
    background-position: -526px -106px; 
    width: 11px;
    height: 7px;
    
}
.view1{
    width:5%;
    background-image: url(spriteimage.png);
    background-position: -254px -511px; 
    width: 18px;
    height: 17px;
}
.view2{
    width:5%;
    background-image: url(spriteimage.png);
    background-position: -188px -475px; 
    width: 20px;
    height: 18px;
}
.view3{
    width:5%;
    background-image: url(spriteimage.png);
    background-position: -264px -475px; 
    width: 19px;
    height: 19px;
}
  .container2{
    display:grid;
    width:100%;
    height:100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 4fr 2fr 1.5fr;
    gap:20px;
    margin-top:40px;
    margin-left:40px;
    box-sizing: border-box;
  }
  .as{
    box-sizing: border-box;
  }
  .aside1{
    grid-row:1/2;
    grid-column:1/2;
    background-color: white;
    padding:20px;
    display:grid;
    grid-template-columns:  ;
    grid-template-rows: repeat(1fr);
  }
  .li{


  }
  .aside2{
    grid-row:2/3;
    grid-column:1/2;
    background-color: white; 
  }
  .aside3{
    grid-row:4/5;
    grid-column:1/2;
    background-color: white;
  }
