*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width:100vw;
    height:100vh;
    background-color: rgb(245, 244, 244);
}
header{
    width:100vw;
    height:5.3vh;
    margin:auto;
    display:flex;
    background-color: black;
    position: relative;
    transform: scaleX(1);
    transform: scaleY(1);
}
#logo{
    display: flex;
}
#logo:hover{
    cursor:pointer;
    opacity: 0.8;
}
.img1{
    background-image: url(spriteimage.png);
    background-position: -151px -99px; 
    width: 41px;
    height: 44px;
    transform:scale(.25);
    position:absolute;
    left: 9.2%;
    top:3px;
    color:rgb(117, 114, 114);
}
.img2{
    background-image: url(spriteimage.png);
    background-position: -196px -99px; 
    width: 43px;
    height: 41px;
    transform:scale(.24);
    position:absolute;
    left: 9.8%;
    top:4px;
    color:rgb(117, 114, 114);
   
}
.logo{
    background-image: url(spriteimage.png);
    background-position: 0px -231px; 
    width: 153px;
    height: 51px;
    position:absolute;
    left:9.4%;
    bottom:2px;
    transform:scale(0.45);
   
}
.menu{
    display: flex;

}
.menu ul{
    display:inline-flex;
    list-style-type: none;
    align-content: center;
    position:absolute;
    left:16.5vw;
    top:1.6vh;
    font-size: 15.5px; 
    color:white;   
    
}
.menu ul li{
    display:block;
    padding-left:18px;
    padding-right:13px;
    
}
.menu ul li:hover{
    cursor:pointer;
    color:rgb(156, 153, 153);
}
.sub-menu-1{
    display:none;
}
.menu ul li:hover .sub-menu-1{
    display:block;
    background-color: white;
    position:absolute; 
    margin-top: -13px;
    margin-left:-315px;
}
.menu ul li:hover .sub-menu-1 ul{
    display:block;
    margin:10px;
    background-color: white;
    color:black;
    border:1px solid rgba(128, 128, 128, 0.37);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);
    border-radius: 3px;
}
.menu ul li:hover .sub-menu-1 ul li{
    width:150px;
    padding:2px;
    margin:5px;
    text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li:hover{
    background-color:rgb(247, 204, 204); 
}
.menu .sub-menu-1::before{
    content:'';
    position:absolute;
    top:21px;
    left:21em;
    width:15px;
    height: 15px;
    background:white;
    transform: rotate(45deg);
}

form{
    display:flex;
    align-self: center;
    position: absolute;
    right:21em;
    
}
#search-icon{
    background-color: transparent;
    border:none;
    outline: none;
    box-sizing: border-box;
    background-image: url(spriteimage.png);
    background-position: -314px -232px; 
    width: 23px;
    height: 21px;
    opacity: rgba(0, 0, 0, 0.121);
    cursor: pointer;
    transform: scale(1.5);
    place-self: center;
    position:absolute;
    left:7px;
    z-index:1;
    

}
#search-icon:focus{
    width:100px;
    outline:none; 
    background-color: white;
    transition-duration: 0.4s;
    float:right;
}
#search-box{
    width:220px;
    height:33px;
    background-color:rgba(255, 255, 255, 0.848);
    color:black;
    border:none;
    outline: none;
    box-sizing: border-box;
    font-size: 13px;
    /*border-radius: 2px;*/
    text-indent: 10px;
    padding-left:40px;
    position:relative;
}
#search-box:focus{
    width:350px;
    outline:none; 
    background-color: #fff;
    transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}
#profile{
    display:flex;
}
.img3:hover, .img4:hover, .img5:hover{
    cursor:pointer;
    opacity: 0.8;   
}
.img3{
    background-image: url(spriteimage.png);
    background-position: -411px -447px; 
    width: 31px;
    height: 23px;
    place-self: center;
    position:absolute;
    right:18em;
   
}
.img4{
    background-image: url(spriteimage.png);
    background-position: -492px -419px; 
    width: 26px;
    height: 25px;
    place-self: center;
    position:absolute;
    right:15em;
}
.img5{
    background-image: url(buddyicon01.png);
    position: absolute;
    right:11em;
    border-radius: 100%;
    place-self: center;
    transform: scale(0.7);
}
nav{
    display:flex;
    width:100vw;
    height:9.5vh;
    background-color: white;
    
}
.nav1 ul{
    display:inline-flex;
    align-items: center;
    width:80vw;
    height:5vh;
    margin:auto;
    position:absolute;
    left:12em;
    border-bottom:2px solid rgba(128, 128, 128, 0.357);
    gap:20px;
    
    
}
.nav1 ul li{
    display:block;
    width: 80px;
    padding: 15px;
    font-size: 15px;    
}
.nav1 ul li a{
    text-decoration: none;
    color:black;
}
.active, .nav1 ul li:hover{
    color:rgb(130, 126, 126);
    border-bottom:4px solid rgb(55, 155, 242);
}
.nav2{
    display:flex;
    width:80vw;
    height:4.5vh;
    margin:auto;
    position:absolute;
    top:10vh;
    left:20vh;
}
.color{
    display:flex;
   
}
./*c{
    background-color: burlywood;
}
*/
    
