body {background-color:blanchedalmond ;
            margin: 5px;border:5px solid olivedrab; padding:20px}
 .head{text-decoration-line:underline; text-decoration-color:rgb(64, 228, 64);font-family: 'Times New Roman', Times, serif;
            font-size: 30px;text-align: center; color: rgb(10, 85, 60);}           
 #intro {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px; color: rgb(77, 21, 133);}
 .toe {font-family: 'Times New Roman', Times, serif;
    font-size: 25px;text-align: left; color: rgb(10, 85, 60);};
 input:checked{width:30px; height:30px;}
 p::first-letter{font-size: 200%;
                color:crimson}
a:visited{color:rgb(207, 24, 24);}
a:hover{color:rgb(120, 231, 9)}
a:link{color: rgb(4, 75, 4);} 
a:active{color:blueviolet;}  
h5 {text-decoration:underline;
text-decoration-color:rgb(77, 21, 133) ;}
input:checked{color: darkgoldenrod;}
input:invalid{border:2px solid red}
input .marital{left-margin:30px;}